HELP.md
.gradle
build/
/src/main/resources/*.properties
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/application.yml
/node_modules/
/src/main/resources/static/dist/125e84d3c8f273bf0b7a.png
/src/main/resources/static/dist/bundle.js
/src/main/resources/static/dist/bundle.js.LICENSE.txt
/src/main/resources/static/dist/d732f0f9cc860c3cea79.png
/src/main/resources/static/package.json
